<launch>
<include file="$(find sst)/launch/map.launch" />
<node name="car_model" pkg="sst" type="car_model.py" output="screen" />
<node name="points" pkg="mapr_5_student" type="points.py" output="screen" />
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find mapr_5_student)/rviz/rviz_config.rviz"/>
</launch>